{{define "View"}}
<form method="POST" action="?"><fieldset>
<legend style="font-size: 1.8em">
    <img src="/static/entities/{{.EntityName}}.png"
         alt="{{.FriendlyName}}"
         style="vertical-align:middle"
         border="0" />&nbsp;
    {{.FriendlyName}}:
</legend>

<!--<h2>Fields</h2>-->

<!-- Fields -->
{{range .Fields}}
<div style="padding-left: 20px">
    <label for="{{.Key}}">{{.Key}}:</label>
    <input class="field" name="{{.Key}}" type="text" placeholder="Example {{.Key}}" value="{{.Value}}" />
</div>
{{end}}

<!-- //@TODO: Store a CSRF token in the session and pass it through the ViewModel
<input type="hidden" name="csrf-token" value="{{.CsrfToken}}" />-->
<input type="hidden" name="nonce" value="12345TODO" />

<div class="directions">
    <a class="submit awesome green"
        onclick="$(this).parents('form:first').submit(); return true;"
        href="javascript:;">Save</a>
</div>
</fieldset></form>

<!--<br /><h2>Collections</h2>-->

<!-- Collections -->
{{range .Collections}}
<!-- Collection -->
{{$colLen := len .}}
{{$isCollection := gt $colLen 1}}
{{range $i, $entity := .}}
{{if eq $i 0}}
<form method="POST" action="/{{.EntityName}}" style="padding: 20px 20px 20px 20px"><fieldset>
    <legend style="font-size: 1.8em; margin-left: 40px">
        <a href="/{{.EntityName}}{{if ne $colLen 1}}s{{else}}/{{.Id}}{{end}}"><!-- Only objects can have a collection length of 1-->
            {{.FriendlyName}}{{if $isCollection}}s{{end}}:
        </a>
    </legend>
    {{end}}

    <!-- Collection Fields -->
    {{range $j, $field := $entity.Fields}}
        {{if ne $field.Key "Id"}}
    <div>
        <label for="{{$field.Key}}">
            {{if eq $j 0}}
            <a href="/{{$entity.EntityName}}/{{$entity.Id}}">
                <img src="/static/entities/{{$entity.EntityName}}.png"
                    alt="{{$entity.FriendlyName}}"
                    style="vertical-align:middle"
                    width="32" height="32"
                    border="0"
                /></a>&nbsp;
            {{end}}
            {{$field.Key}}:
        </label>
        <input class="field"
            type="text"
            name="{{$entity.EntityName}}[{{$entity.Id}}][{{$field.Key}}]"
            placeholder="Example {{$field.Key}}"
            onchange="return update(this);"
            data-collection="{{if ne $colLen 1}}true{{else}}false{{end}}"
            value="{{$field.Value}}" />&nbsp;
            {{if eq $j 0}}
        <a class="delete awesome red"
        data-name="{{$entity.EntityName}}[{{$entity.Id}}]"
        onclick="return del(this);"
        href="javascript:;">x</a>
            {{end}}
    </div>
        {{end}}
    {{end}}
    <!-- /*
        Normally there would be a div here for the blank row,
        with an entityId of 0, but the controller gives us
        a blank model to display here instead.
    */ -->
{{end}}
<div class="directions">
    <a class="submit awesome green" href="javascript:;">Save</a>
</div>
</fieldset></form>
{{end}}

<br />

<script src="/views/{{.ElementName}}.js?x={{.NoCache}}" type="text/javascript"></script>
<style src="/views/{{.ElementName}}.css?x={{.NoCache}}" type="text/css"></style>
<script src="/views/{{.EntityName}}/{{.EntityName}}.js?x={{.NoCache}}" type="text/javascript"></script>
<style src="/views/{{.EntityName}}/{{.EntityName}}.css?x={{.NoCache}}" type="text/css"></style>

<div class="directions">
    Rows are added and subtracted automatically.
</div>

<br /></fieldset></form>
{{ end }}